#pricing {
  padding: 20px;
  padding-top: 100px;
}
.pricing-container {
  padding: 20px;
  margin-bottom: 20px;
}
.pricing-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.pricing-nav button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.pricing-nav button.selected,
.pricing-nav button:hover {
  background-color: var(--main-bg-color);
}
.pricing-nav button span.dark {
  color: var(--main-dark-color);
  font-size: 15px;
  font-weight: bold;
}
.pricing-nav button span.light {
  color: var(--light-text-color);
  font-size: 10px;
}
.pricing-container {
  margin-top: 20px;
}
.plan-header {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-style: dashed;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: border 0.3s;
}
.plan-box:is(:hover, .selected) .plan-header {
  border-color: var(--main-dark-color);
}
.plan-header > div:nth-child(1) {
  display: flex;
  align-items: center;
}
.plan-header > div > span {
  color: var(--main-dark-color);
  font-size: 13px;
}
.plan-header .icon {
  color: var(--main-light-color);
  font-size: 25px;
  margin-right: 15px;
}
.plan-header .dark {
  color: var(--main-dark-color);
  font-size: 13px;
  font-weight: bold;
}

.plan-header .plan-price {
  vertical-align: top;
  font-weight: bold;
  font-size: 33px;
}
.plan-header .plan-time {
  vertical-align: bottom;
  font-size: 14px;
}
.plan-info {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: none;
  border-bottom-left-radius: 20px;
  transition: border 0.3s;
}
.plan-box:is(:hover, .selected) .plan-info {
  border-color: var(--main-dark-color);
}
.plan-criteria {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.plan-criteria .criterion {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--light-text-color);
}
.plan-criteria .criterion .check {
  color: var(--main-light-color);
}
.plan-info button {
  border: none;
  width: 100%;
  padding: 13px 0;
  background-color: var(--main-light-color);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 5px;
}
